

{{#each playlists as |playlist| }}
  <div class=" card col-12 rounded mx-auto">
    <div class=" rounded card-title m-3" data-bs-toggle="collapse" href="#multiCollapseExample{{tag}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h2 class= "mt-1 pl-5">{{playlist_name}}</h2>
      <p>{{tag}}</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse  " id="multiCollapseExample{{tag}}">
          {{!-- {{#each Songs as |songs| }} --}}
          <div class="row  ms-1 d-flex flex-wrap">
          {{#each playlist.Songs}}
            <div class="col-5 mt-3 d-flex flex-wrap">
              <h5>{{trackName}}</h5>
            </div>
            <div class="col-5 mt-3  d-flex flex-wrap">
              <h5>{{artistName}}</h5>
            </div>
        {{/each}} 
         </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}




