

{{!-- {{#each playlists as |playlist| }}

  <div class=" alpha card col-12 rounded mt-3 mx-auto"">
    <div class=" rounded alpha">
      <div class="card-title m-4 col-8">
      <h2>{{playlist_name}}</h2>
      </div>
    
      <div class="card-body m-1 col-2">
        <h2> {{tag}}</h2>
      </div>
      <div class="card-body m-1">
        <p>{{created_at}} {{updated_at}}</p>
      </div>
    </div> 
  </div> 

{{/each}} --}}


{{#each playlists as |playlist| }}
  <div class=" card col-12 rounded mx-auto">
    <div class=" rounded card-title m-3" data-bs-toggle="collapse" href="#multiCollapseExample{{tag}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><h2 class= "mt-1 pl-5">{{playlist_name}}</h2>
      <p>{{tag}}</>
    </div>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse flex-column " id="multiCollapseExample{{tag}}">
          {{!-- {{#each Songs as |songs| }} --}}
          <div class="row align-items-start ms-1">
            <div class="col-6">
              <h5>{{trackName}}</h5>
            </div>
            <div class="col-6">
              <h5>{{artistName}}</h5>
            </div>
            </div>
            <div class="row align-items-start ms-1">
            <div class="col-6">
              <h5>{{trackName2}}</h5>
            </div>
            <div class="col-6">
              <h5>{{artistName2}}</h5>
            </div>
          </div>
        </div>
       {{!-- {{/each}} --}}
      </div>
    </div>
  </div>
{{/each}}




